@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--background-color);
}

p {
  font-size: 20px;
}

h1,
h2 {
  font-family: "Chewy", sans-serif;
  color: #481c04ea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 60px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-image {
  width: 80px;
  height: auto;
  margin: 0 10px;
}

ul {
  list-style-type: none;
}

.blogPost {
  margin: 25px auto;
  border-bottom-style: outset;
  background-color: #ffffff9f;
  padding: 15px;
  width: 80%;
}

.text-box {
  border-radius: 10px;
  padding: 45px;
  width: 70%;
}

.btn {
  margin: 5px;
}

.btn-primary:hover {
  background-color: #4e3b3194;
}

.btn-primary {
  background-color: #4e3b31d4;
}

/* Theme Buttons */

.btn-spring {
  background-color: #99d57977;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-summer {
  background-color: #fffffffd;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-autumn {
  background-color: #d7d2c35d;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-winter {
  background-color: #85e2fee7;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
