@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #d7d2c35d;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 20px;
}

h1, h2 {
  font-family: 'Chewy', sans-serif;
  color:#481c04ea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 60px;
}

.header-container {
  display: flex;             
  align-items: center;       
  justify-content: center; 
}

.inline-image {
  width: 80px;            
  height: auto;             
  margin: 0 10px;           
}


ul {
  list-style-type: none;
}

.blogPost {
  margin: 25px auto;
  border-bottom-style: outset;
  background-color: #ffffff9f;
  padding: 15px;
  width: 80%;
}

.btn {
  margin: 5px;
}

.btn:hover {
  background-color: #4e3b3194;
}

.btn-primary {
  background-color: #4e3b31d4;
}

.text-box {
  border-radius: 10px;
  padding: 45px;
  width: 70%;
}
